<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Manage Recipe</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>To Shopping List</button>
          <button mat-menu-item>Edit Recipe</button>
          <button mat-menu-item>Delete Recipe</button>
        </mat-menu>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
