<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">My Recipe Book</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li><a class="nav-link" routerLink="/recipies" routerLinkActive="active">Recipes</a></li>
          <li><a class="nav-link" routerLink="/shoppingList" routerLinkActive="active">Shopping List</a></li>
          <!-- <li><a class="nav-link" routerLink="recipies" (click)="onSelect('recipe')">Recipes</a></li>
          <li><a class="nav-link" routerLink="shoppingList" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
          <!-- <li class="dropdown" appDropdown>
            <a href="#" class="dropdown-toggle nav-link" role="button">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Save</a></li>
              <li><a href="#">Fetch</a></li>
            </ul>
          </li> -->
          <button mat-button class="nav-link" [matMenuTriggerFor]="manage">Manage</button>
          <mat-menu #manage="matMenu">
            <button mat-menu-item>save</button>
            <button mat-menu-item>Fetch</button>
          </mat-menu>
        </ul>
      </div>
    </div>
  </nav>
</header>