<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" mat-raised-button color="Accent" [disabled]="recipeForm.invalid">Add</button>
                    <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6">
                    <input matInput formControlName="name" placeholder="Name" autocomplete="off" type="text" required>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input matInput formControlName="imagePath" placeholder="Image path" autocomplete="off" type="text"
                        required>
                </mat-form-field>
                <!-- <mat-form-field class="col-md-6" >
                                <mat-select placeholder="Select Unit Head" name="unitHead" #unitHead = "ngModel" [(ngModel)]="model.EmployeeId" [(value)]= "model.EmpId" required>
                                    <mat-option *ngFor="let head of model.EmployeeList" [(value)]="head.EmployeeId" >{{ head.EmployeeName }}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="unitHead.errors?.required">Unit Head is Required</mat-error>
                            </mat-form-field> -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="" alt="" class="img-responsive">
                </div>
                <mat-form-field class="col-md-12">
                    <textarea formControlName="description" matInput placeholder="Description" autocomplete="off"
                        required></textarea>
                </mat-form-field>
            </div>
            <div class="row" formArrayName="ingredients">
                <div class="col-md-12" *ngFor="let ingredient of ingredients.controls; let i=index"
                    [formGroupName]="i">
                    <mat-form-field class="col-md-8">
                        <input formControlName="name" matInput autocomplete="off" type="text" >
                    </mat-form-field>
                    <mat-form-field class="col-md-2">
                        <input formControlName="amount" matInput autocomplete="off" type="text" >
                    </mat-form-field>
                    <button mat-raised-button color="warn">X</button>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="col-xs-6">
                        <button type="button" mat-raised-button color="accent" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>